<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Eco Infiltrators <span clsas="d-block">Saving the Planet One Task at a Time</span></h1>
                    <p class="mb-4">Join the movement to clean up our environment in Eco Infiltrators. Complete eco-friendly tasks to make a difference while having fun. Together, let's protect our planet for future generations.</p>
                    <p><a href="" class="btn btn-secondary me-2">Shop Now</a>&nbsp;<a href="#" class="btn btn-white-outline">Explore</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="assets/images/I_have_a_video__490e619e-3f3f-44f8-b2bd-c7f39dc9d6bf-removebg (1).png" [width]="700" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>