<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Why Choose Us</h2>
                <p>Discover why our NFT store stands out:</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/images/truck.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Fast &amp; Secure Transactions</h3>
                            <p>Experience seamless and secure transactions for your NFT purchases.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/images/bag.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Curated NFT Collections</h3>
                            <p>Explore our carefully curated collections of unique digital assets.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/images/support.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>24/7 Customer Support</h3>
                            <p>Our dedicated support team is available round the clock to assist you.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/images/return.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Authenticity Guaranteed</h3>
                            <p>Rest assured knowing that all NFTs in our store are authentic and verified.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="assets/images/Design a sleek  a74ffb75-e3e1-42d3-9349-8c389efd6f5d.png" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>
