<app-why-choose></app-why-choose>

<div class="untree_co-section">
    <div class="container">

        <div class="row mb-5">
            <div class="col-lg-5 mx-auto text-center">
                <h2 class="section-title">Our Team</h2>
            </div>
        </div>

        <div class="row">

            <!-- Start Column 1 -->
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                <img src="assets/images/cvgamerbg.png" [width]="255" [height]="255" class="img-fluid mb-5">
                <h3 class=""><a href="#"><span class="">Adam</span> Rafraf</a></h3>
                <span class="d-block position mb-4">CEO, Founder</span>
                <p>Adam Rafraf is a visionary leader with a passion for innovation and sustainability.</p>
                <p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
            </div> 
            <!-- End Column 1 -->

            <!-- Start Column 2 -->
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                <img src="assets/images/371468127_301063192819352_108801970583704223_n.jpg" [width]="255" [height]="255" class="img-fluid mb-5">
                <h3 class=""><a href="#"><span class="">Moenes</span> Gueni</a></h3>
                <span class="d-block position mb-4">CTO, Co-Founder</span>
                <p>Moenes Gueni brings expertise in technology and a drive for excellence to our team.</p>
                <p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
            </div> 
            <!-- End Column 2 -->

            <!-- Start Column 3 -->
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                <img src="assets/images/258853682_626268895075855_2291941483708383434_n.jpg" [width]="255" [height]="255" class="img-fluid mb-5">
                <h3 class=""><a href="#"><span class="">Mohammed Rayen</span> El Elmi</a></h3>
                <span class="d-block position mb-4">COO, Co-Founder</span>
                <p>Mohammed Rayen El Elmi is a strategic thinker dedicated to driving business growth and success.</p>
                <p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
            </div> 
            <!-- End Column 3 -->

            <!-- Start Column 4 -->
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                <img src="assets/images/371505775_1407093130019487_6287466526633058268_n.png" [width]="255" [height]="255" class="img-fluid mb-5">
                <h3 class=""><a href="#"><span class="">Walid</span> Ben Aissa</a></h3>
                <span class="d-block position mb-4">CFO, Co-Founder</span>
                <p>Walid Ben Aissa brings financial expertise and strategic insight to our leadership team.</p>
                <p class="mb-0"><a href="#" class="more dark">Learn More <span class="icon-arrow_forward"></span></a></p>
            </div> 
            <!-- End Column 4 -->

        </div>
    </div>
</div>

<app-testimonial-section></app-testimonial-section>
